# mount points bound directly in host pve for this lxc, but permission issues hence using automount
# pct set <lxc_id> -mp0 /mnt/host_dir,mp=/mnt/guest_dir
# nfs mounts are ONLY supported on privileged containers
# following to directly /mnt to get paths like /mnt/ssd-media etc.
/mnt/nfs-ssd -fstype=nfs,rw 10.100.100.50:/mnt/sata-ssd

